---
const props = Astro.props;
---

<div>
	<label for={props.id} class="block text-gray-700 font-semibold"
		>{props.label}</label
	>
	{
		props.type === "textarea" ? (
			<textarea
				id={props.id}
				name={props.name}
				class="w-full border-gray-300 border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-500"
				rows={props.rows}
				required={props.required}
			/>
		) : (
			<input
				type={props.type}
				id={props.id}
				name={props.name}
				class="w-full border-gray-300 border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-500"
				required={props.required}
			/>
		)
	}
</div>
